html {
    font-size: 1em;


}

body {}

.container {
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

aside {
    width: 20vw;
    height: 100vh;
    background-color: chartreuse;
}

header {
    width: 80vw;
    height: 10vh;
    background-color: yellow;
}

header input {
    margin-left: 20px;
}

.logo {
    width: 100px;
    height: 40px;
    background-color: white;
    margin-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: violet;
    margin-right: 20px;
}

.button-fixed {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    background-color: red;
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 26px;
    cursor: pointer;
}